<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>org-signUp</title>
    <link rel="stylesheet" href="/stylesheets/org-login.css">
</head>
<body>

    <h2> Organization Log In</h2>
    <form action="/org/org-login" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="passKey" placeholder="Passkey">
        <input type="submit" id="submitBtn" value="Login">
        <p>Don't have account? <a href="/org/org-signup">signup here</a></p>
    </form>

</body>
</html>