<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>org-signUp</title>
    <link rel="stylesheet" href="/stylesheets/org-signup.css">
</head>
<body>

    <h2>Organization Sign up</h2>
    <form action="/org/org-signup" method="post">
        <input type="text" name="orgName" placeholder="Organization Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" id="submitBtn" value="SignUp now">
        <p>have an account ? <a href="/org/org-login">login here</a></p>
    </form>

</body>
</html>