<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
      <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link
      href="http://cdn.remixicon.com/releases/v1.1.1/remixicon.css"
      rel="stylesheet"
    />
    <!-- Option B: Latest known version from jsDelivr -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/stylesheets/userSignup.css">

    <!-- for Flowbite  -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

</head>
<body class="flex flex-col justify-center items-center p-40 gap-5 ">
    

    <a href="/org/org-signup" class="bg-blue-600 text-white px-[10px] py-[5px] rounded-md font-semibold">SignUp as Organoization(Admin)</a>
    <a href="/student/student-signup" class="bg-blue-600 text-white px-[10px] py-[5px] rounded-md font-semibold">SignUp with Organoization(student)</a>
    <a href="/" class="bg-blue-600 text-white px-[10px] py-[5px] rounded-md font-semibold"><i class="ri-arrow-left-line mr-3" ></i>Back to <i class="ri-home-4-line"></i></a>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>